body{
    background-color: rgb(255, 255, 255);
    margin: 0%;
    padding: 0%;
}
.navbar{
   display: flex;
   align-items: center;
    justify-content: center;
    justify-content: space-between;
    box-shadow: 0 5px 15px rgba(255, 0, 0, 0.775);
    

}
.navbar img{
    color: white;
    width: 100px;
    margin-left: 0.5cm;
}

.navdet a{
    
    font-family: adam;
    text-decoration: none;
    color: rgb(255, 0, 0);
    padding: 20px; 
    font-size: x-large;
    font-weight: 900;
    transition: all 0.2s ease-in-out;
}
.navdet a:hover{
    color: #ff0202;
  text-align: center;
  text-shadow: 0 5px 15px rgba(255, 0, 0, 0.775);
  
}

.contact{
    background-color: rgb(255, 0, 0);
    margin-right: 1rem;
    padding: 3px;
    text-align: center;
    border-radius: 0%;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    

}
.contact a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px;
    font-family: adam;
    font-size: x-large;
    font-weight: 900;

}
.contact:hover{
    color: white;
    box-shadow: 0 5px 15px rgba(255, 0, 0, 0.775);
}
